.Player.mini .image {
  height: var(--height);
  border-radius: inherit;
}

.Player.mini .left {
  border-radius: inherit;
}

.Player.mini {
  grid-template-columns: auto 1fr;
  top: unset;
  bottom: 50px;
  height: var(--height);
  --border-radius: 12px;
  width: 100%;
  gap: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px -2px 20px 2px rgba(0, 0, 0, 0.2);
}

.Player.mini img {
  width: var(--height);
  height: var(--height);
  border-radius: inherit;
}

.Player.mini .right {
  display: grid;
  width: fit-content;
  justify-self: center;
}

.Player.mini .song-name {
  display: inline-flex;
  justify-self: center;
}

.Player.mini .right .song-name h5 {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}

@media screen and (max-width: 650px) {

  .Player.mini .controls span:last-of-type,
  .Player.mini .controls span:first-of-type {
    display: none;
  }

  .Player.mini {
    grid-template-columns: 70px auto;
  }

  .Player.mini .right {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 0 12px 0 0;
  }

  .Player.mini .song-name {
    display: block;
    width: calc(90%);
    text-align: center;
  }

  .progress-bar {
    height: 10px;
  }
}

span.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  margin-right: 10px;
  font-size: 2rem;
  color: #ccc;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
}

.favorite .icon::after {
  content: " \2764";
  position: relative;
  top: 3px;
}

.favorite .icon.Active {
  color: red;
}