.App {
  height: 100%;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sens-serif;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 50px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

[class^='material'] {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

[class^='material'].filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  padding: 4px 12px;
  color: #fff;
  background: #000;
  user-select: none;
}

.bottom-nav li {
  list-style: none;
  /* width: 100%; */
}

a{
  text-decoration: none;
  color: inherit;
}

.bottom-nav a {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  color: inherit;
  position: relative;
  width: 50px;
  padding: 8px 16px;
  border-radius: 24px;
  justify-content: center;
  transition: all .25s ease-out;
}

a span:nth-child(2) {
  /* display: none; */
  position: relative;
  left: -20px;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.active {
  color: rgb(17, 243, 168);
}

.active a {
  width: 115px;
  background: rgba(127, 255, 212, 0.2);
}

.active a span:nth-child(2) {
  position: relative;
  left: 0;
  opacity: 100%;
}

.pages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  overflow-y: auto;
  justify-items: stretch;
  height: calc(100vh - 50px);
}

.page {
  height: 100%;
  width: 100vw;
  /* overflow-y: hidden; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  transition: all 0.25s ease-out;
}

.page:nth-child(2) {
  transform: translateX(100%);
}

.page:nth-child(3) {
  background: blue;
  transform: translateX(200%);
}

/* Custom Scroll Bar Start*/

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Custom Scroll Bar End*/